* {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: Georgia, "Times New Roman", Times, sens-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: relative !important;
  position: sticky !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 10;
  width: 100%;
}

.mr-logo {
  margin: 0;
  padding: 0.2rem;
  border: 2px solid white;
  border-radius: 10px;
}

#home,
#about-me,
#technology,
#portfolio,
#contact {
  display: grid;
  /* ie11 */
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
}

#home
 {
  min-height: 100vh;
  /* ie11 */
  height: 100vh;
  -ms-flex-pack: center;

  background-image: url("assets/header/Space-Stars-Black-Background-Gif-1920x1080.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .contact-list {
  font-size: 3rem;
}

#home .contact-list a {
  color: white;
}

#home .contact-list a:hover {
  transform: scale(1.1);
}

.page-title {
  position: sticky;
  font-size: 2rem;
  top: 0.3rem;
  left: 1rem;
  z-index: 10;
}

.page-card-hover:hover {
  transform: scale(1.03);
}

.tech-card .card-header i {
  font-size: 2rem;
}

.tech-card .card-body ul li {
  font-size: 0.8rem;
}

.mt-6 {
  margin-top: 4rem;
}
